<!-- About Start -->
<div class="container-fluid overflow-hidden about py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item">
                    <div class="pb-5">
                        <h1 class="display-5 text-capitalize"> Về <span class="text-primary">Chúng tôi</span></h1>
                        <p class="mb-0">
                            Chúng tôi mang đến đa dạng các dòng laptop và linh kiện công nghệ chất lượng cao, phù hợp cho học tập, làm việc, thiết kế đồ họa và chơi game.
                            Từ laptop văn phòng mỏng nhẹ đến các mẫu gaming mạnh mẽ, mỗi sản phẩm đều được lựa chọn kỹ lưỡng để đáp ứng nhu cầu sử dụng thực tế của khách hàng.
                        </p>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/img/about-icon-1.png" class="img-fluid w-50 h-50" alt="Icon">
                                </div>
                                <h5 class="mb-3">Mục Tiêu</h5>
                                <p class="mb-0">Trở thành cửa hàng đáng tin cậy, mang đến sản phẩm chất lượng và trải nghiệm mua sắm hiện đại.</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/img/about-icon-2.png" class="img-fluid h-50 w-50" alt="Icon">
                                </div>
                                <h5 class="mb-3">Nhiệm Vụ</h5>
                                <p class="mb-0">Cung cấp laptop và linh kiện chính hãng với giá hợp lý, cùng dịch vụ tư vấn và hỗ trợ tận tâm.</p>
                            </div>
                        </div>
                    </div>
                    <p class="text-item my-4">
                        Bên cạnh đó, cửa hàng còn cung cấp nhiều linh kiện và phụ kiện như RAM, SSD, CPU, GPU, màn hình, bàn phím và chuột đến từ nhiều thương hiệu uy tín.
                        Với tiêu chí chất lượng, giá cả hợp lý và dịch vụ tận tâm, chúng tôi mong muốn mang đến trải nghiệm mua sắm công nghệ tiện lợi và đáng tin cậy cho mọi khách hàng.
                    </p>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="text-center rounded bg-secondary p-4">
                                <h1 class="display-6 text-white">17</h1>
                                <h5 class="text-light mb-0">Years Of Experience</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rounded">
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Chính hãng 100%</p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Bảo hành uy tín</p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Giá cả hợp lý</p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Hỗ trợ tận tâm</p>
                                <p class="mb-0"><i class="fa fa-check-circle text-primary me-1"></i> Hiệu năng ổn định</p>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <a href="#" class="btn btn-primary rounded py-3 px-5">Tìm Hiểu Thêm</a>
                        </div>
                        <div class="col-lg-7">
                            <div class="d-flex align-items-center">
                                <img src="~/img/attachment-img.jpg" class="img-fluid rounded-circle border border-4 border-secondary" style="width: 100px; height: 100px;" alt="Image">
                                <div class="ms-4">
                                    <h4>William Burgess</h4>
                                    <p class="mb-0">Carveo Founder</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-img">
                    <div class="img-1">
                        <img src="~/img/about-img.jpg" class="img-fluid rounded h-100 w-100" alt="">
                    </div>
                    <div class="img-2">
                        <img src="~/img/about-img-1.jpg" class="img-fluid rounded w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->